@using Data.Models
@using System.Text.Json
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
@{
    var userCookie = HttpContextAccessor.HttpContext?.Request.Cookies["User"];
    User? currentUser = null;

    if (!string.IsNullOrEmpty(userCookie))
    {
        // Deserialize the JSON string back to the User1 object
        currentUser = JsonSerializer.Deserialize<User>(userCookie);
    }

}

@{
    var totalPrice = HttpContextAccessor.HttpContext.Session.GetInt32("TotalPrice");
    var totalProduct = HttpContextAccessor.HttpContext.Session.GetInt32("TotalProduct");
}
<!DOCTYPE html>
<html lang="zxx">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Male_Fashion Template">
    <meta name="keywords" content="Male_Fashion, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Second-Soul | 2ndhand</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;700;800;900&display=swap"
          rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/5.0.0-beta3/css/bootstrap.min.css" rel="stylesheet" />
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.1.3/js/bootstrap.bundle.min.js" integrity="..." crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Second_Soul</title>
    <link rel="stylesheet" href="~template/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Second_Soul.styles.css" asp-append-version="true" />

    <!-- Css Styles -->
    <link rel="stylesheet" href="~/template/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="~/template/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="~/template/css/elegant-icons.css" type="text/css">
    <link rel="stylesheet" href="~/template/css/magnific-popup.css" type="text/css">
    <link rel="stylesheet" href="~/template/css/nice-select.css" type="text/css">
    <link rel="stylesheet" href="~/template/css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="~/template/css/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="~/template/css/style.css" type="text/css">
</head>

<body>
    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>

    <!-- Offcanvas Menu Begin -->
    <div class="offcanvas-menu-overlay"></div>
    <div class="offcanvas-menu-wrapper">
        <div class="offcanvas__option">
            <div class="offcanvas__links">
                <a href="#">Sign in</a>
                <a href="#">FAQs</a>
            </div>
            <div class="offcanvas__top__hover">
                @if (currentUser != null)
                {
                    <span>
                        @if (currentUser?.ImageUrl != null)
                        {
                            <img src="@currentUser.ImageUrl" alt="Profile Picture" class="rounded-circle" width="30" height="30" />
                        }
                        else
                        {
                            <i class="bi bi-person-circle" style="font-size: 30px;"></i>
                        }
                        @currentUser?.Username
                        <i class="arrow_carrot-down"></i>
                    </span>
                    <ul>
                        <li><a class="dropdown-item" href="/UserPage/Profile">My Account</a></li>
                        <li><a class="dropdown-item" href="/UserPage/Profile/Order">My Purchase</a></li>
                        <li><a class="dropdown-item" href="/UserPage/Profile/Product">My Product</a></li>
                        <li><a class="dropdown-item" href="/Logout">Logout</a></li>
                    </ul>

                }
                else
                {
                    <div class="header__top__links">
                        <a href="/Login" class="nav-link">Sign in</a>
                    </div>
                }
            </div>
        </div>
        <div class="offcanvas__nav__option">
            <a href="#" class="search-switch"><img src="~/template/img/icon/search.png" alt=""></a>
            <a href="#"><img src="~/template/icon/heart.png" alt=""></a>
            <a href="#"><img src="~/template/img/icon/cart.png" alt=""> <span>@totalProduct</span></a>
            <div class="price">@totalPrice VND</div>
        </div>
        <div id="mobile-menu-wrap">

        </div>
        <div class="offcanvas__text">
        </div>
    </div>
    <!-- Offcanvas Menu End -->
    <!-- Header Section Begin -->
    <header class="header">
        <div class="header__top">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-7">
                        <div style="color:white">2nd hand, First choice.</div>
                    </div>
                    <div class="col-lg-6 col-md-5">
                        <div class="header__top__right">
                            <div class="header__top__hover">
                                @if (currentUser != null)
                                {
                                    <span>
                                        @if (currentUser?.ImageUrl != null)
                                        {
                                            <img src="@currentUser.ImageUrl" alt="Profile Picture" class="rounded-circle" width="30" height="30" />
                                        }
                                        else
                                        {
                                            <i class="bi bi-person-circle" style="font-size: 30px;"></i>
                                        }
                                        @currentUser?.Username
                                        <i class="arrow_carrot-down"></i>
                                    </span>
                                    <ul>
                                        <li><a class="dropdown-item nav-link" href="/UserPage/Profile">My Account</a></li>
                                        <li><a class="dropdown-item nav-link" href="/UserPage/Order">My Purchase</a></li>
                                        <li><a class="dropdown-item nav-link" href="/UserPage/Order">My Product</a></li>
                                        <li><a class="dropdown-item nav-link" href="/Logout">Logout</a></li>
                                    </ul>
                                }
                                else
                                {
                                    <div class="header__top__links">
                                        <a href="/Login" class="nav-link">Sign in</a>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-3">
                    <div class="header__logo">
                        <a href="/index"><img src="/pic/logo/2ndsoullogonoBG.png" alt="Second Soul Logo" style="height: 60px;"></a>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <nav class="header__menu mobile-menu">
                        <ul>
                            <li><a href="/index">Home</a></li>
                            <li><a href="/About">About</a></li>
                            <li><a href="/Search">Shop</a></li>
                            <li>
                                <a href="#">Category</a>
                                <ul class="dropdown">
                                    <li><a href="/about">About Us</a></li>
                                    <li><a href="./shop-details.html">Shop Details</a></li>
                                    <li><a href="/UserPage/Cart">Shopping Cart</a></li>
                                    <li><a href="./checkout.html">Check Out</a></li>
                                    @* <li><a href="/BlogPage/Details/1">Blog Details</a></li> *@
                                </ul>
                            </li>
                            <li><a href="/BlogPage">Blog</a></li>
                        </ul>
                    </nav>
                </div>
                <div class="col-lg-3 col-md-3">
                    <div class="header__nav__option">
                        <a href="#" class="search-switch"><img src="~/template/img/icon/search.png" alt=""></a>
                        <a href="/UserPage/Cart"><img src="~/template/img/icon/cart.png" alt=""> <span>@(totalProduct??0)</span></a>
                        <div class="price">@(totalPrice??0) VND</div>
                    </div>
                </div>
            </div>
            <div class="canvas__open"><i class="fa fa-bars"></i></div>
        </div>
    </header>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="footer__about">
                        <div class="footer__logo">
                            <a href="/index"><img src="/pic/logo/my-image.png" alt="Second Soul Logo"></a>
                        </div>
                        <p>The customer is at the heart of our unique business model, which includes design.</p>
                        <a href="#"><img src="~/template/img/payment.png" alt=""></a>
                    </div>
                </div>
                <div class="col-lg-2 offset-lg-1 col-md-3 col-sm-6">
                    <div class="footer__widget">
                        <h6>Shopping</h6>
                        <ul>
                            <li><a href="#">Clothing Store</a></li>
                            <li><a href="#">Trending Shoes</a></li>
                            <li><a href="#">Accessories</a></li>
                            <li><a href="#">Sale</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-6">
                    <div class="footer__widget">
                        <h6>Shopping</h6>
                        <ul>
                            <li><a href="#">Contact Us</a></li>
                            <li><a href="#">Payment Methods</a></li>
                            <li><a href="#">Delivary</a></li>
                            <li><a href="#">Return & Exchanges</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 offset-lg-1 col-md-6 col-sm-6">
                    <div class="footer__widget">
                        <h6>NewLetter</h6>
                        <div class="footer__newslatter">
                            <p>Be the first to know about new arrivals, look books, sales & promos!</p>
                            <form action="#">
                                <input type="text" placeholder="Your email">
                                <button type="submit"><span class="icon_mail_alt"></span></button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer Section End -->
    <!-- Search Begin -->
    <div class="search-model">
        <div class="h-100 d-flex align-items-center justify-content-center">
            <div class="search-close-switch">+</div>
            <form class="search-model-form" method="get" asp-page="/Search">
                <input type="text" type="search" name="query" placeholder="Search here.....">
            </form>
        </div>
    </div>
    <!-- Search End -->
    <!-- Js Plugins -->
    <script src="~/template/js/jquery-3.3.1.min.js"></script>
    <script src="~/template/js/bootstrap.min.js"></script>
    <script src="~/template/js/jquery.nice-select.min.js"></script>
    <script src="~/template/js/jquery.nicescroll.min.js"></script>
    <script src="~/template/js/jquery.magnific-popup.min.js"></script>
    <script src="~/template/js/jquery.countdown.min.js"></script>
    <script src="~/template/js/jquery.slicknav.js"></script>
    <script src="~/template/js/mixitup.min.js"></script>
    <script src="~/template/js/owl.carousel.min.js"></script>
    <script src="~/template/js/main.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
